In [61]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.optimize import minimize
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

In [62]:
#Importing and formatting the df
stocks = pd.read_csv('adjprice.csv')
stocks['Date'] = pd.to_datetime(stocks['Date'], format='%Y%m%d')
stocks

,Date,0111145D US Equity,0202445Q US Equity,0203524D US Equity,0226226D US Equity,0376152D US Equity,0440296D US Equity,0544749D US Equity,0574018D US Equity,0598884D US Equity,...,YNR US Equity,YRCW US Equity,YUM US Equity,YUMC US Equity,ZBH US Equity,ZETHQ US Equity,ZION US Equity,ZRN US Equity,ZTS US Equity,ZTS-W US Equity
0,1993-09-07,13.2719,13.6829,8.4429,8.1042,11.000,57.3245,17.8887,6.8315,28.1246,...,NaN,144439.5121,NaN,NaN,NaN,6.875,7.1675,30.7970,NaN,NaN
1,1993-09-08,13.3263,13.5315,8.2147,7.9590,11.000,57.2096,17.8064,6.8315,27.5051,...,NaN,143691.1208,NaN,NaN,NaN,6.750,6.9766,30.0188,NaN,NaN
2,1993-09-09,13.7070,13.3800,8.7852,8.0627,11.125,59.1625,17.6831,6.8315,27.7529,...,NaN,143691.1208,NaN,NaN,NaN,6.625,6.9554,30.0188,NaN,NaN
3,1993-09-10,13.3807,13.4810,9.4127,8.0368,11.125,59.6220,17.6420,6.8773,27.5051,...,NaN,145187.9033,NaN,NaN,NaN,6.750,7.2099,29.6852,NaN,NaN
4,1993-09-11,13.3807,13.4810,9.4127,8.0368,11.125,59.6220,17.6420,6.8773,27.5051,...,NaN,145187.9033,NaN,NaN,NaN,6.750,7.2099,29.6852,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9454,2019-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.3500,114.02,45.31,134.50,NaN,45.1600,NaN,115.11,NaN
9455,2019-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.3500,114.02,45.31,134.50,NaN,45.1600,NaN,115.11,NaN
9456,2019-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.1800,114.10,45.43,134.53,NaN,44.6500,NaN,115.55,NaN
9457,2019-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.1800,113.24,44.00,136.67,NaN,45.4800,NaN,115.79,NaN
9458,2019-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.1800,113.24,44.00,136.67,NaN,45.4800,NaN,115.79,NaN

In [63]:
# creating date storage
dates = []
# appending dates as tuples
for i in range(1994, 2019):
    if i+6 <= 2018:
        StartDate = f"{i}/01/01"
        EndDate = f"{i+5}/12/31"
        TestDate = f"{i+6}/01/01"
        TestEndDate = f"{i+6}/12/31"
        dates.append((StartDate, EndDate, TestDate, TestEndDate))
        print("start date:", StartDate, "end date:", EndDate, "test date:", TestDate, "test end date:", TestEndDate)

start date: 1994/01/01 end date: 1999/12/31 test date: 2000/01/01 test end date: 2000/12/31
start date: 1995/01/01 end date: 2000/12/31 test date: 2001/01/01 test end date: 2001/12/31
start date: 1996/01/01 end date: 2001/12/31 test date: 2002/01/01 test end date: 2002/12/31
start date: 1997/01/01 end date: 2002/12/31 test date: 2003/01/01 test end date: 2003/12/31
start date: 1998/01/01 end date: 2003/12/31 test date: 2004/01/01 test end date: 2004/12/31
start date: 1999/01/01 end date: 2004/12/31 test date: 2005/01/01 test end date: 2005/12/31
start date: 2000/01/01 end date: 2005/12/31 test date: 2006/01/01 test end date: 2006/12/31
start date: 2001/01/01 end date: 2006/12/31 test date: 2007/01/01 test end date: 2007/12/31
start date: 2002/01/01 end date: 2007/12/31 test date: 2008/01/01 test end date: 2008/12/31
start date: 2003/01/01 end date: 2008/12/31 test date: 2009/01/01 test end date: 2009/12/31
start date: 2004/01/01 end date: 2009/12/31 test date: 2010/01/01 test end date: 2010/12/31
start date: 2005/01/01 end date: 2010/12/31 test date: 2011/01/01 test end date: 2011/12/31
start date: 2006/01/01 end date: 2011/12/31 test date: 2012/01/01 test end date: 2012/12/31
start date: 2007/01/01 end date: 2012/12/31 test date: 2013/01/01 test end date: 2013/12/31
start date: 2008/01/01 end date: 2013/12/31 test date: 2014/01/01 test end date: 2014/12/31
start date: 2009/01/01 end date: 2014/12/31 test date: 2015/01/01 test end date: 2015/12/31
start date: 2010/01/01 end date: 2015/12/31 test date: 2016/01/01 test end date: 2016/12/31
start date: 2011/01/01 end date: 2016/12/31 test date: 2017/01/01 test end date: 2017/12/31
start date: 2012/01/01 end date: 2017/12/31 test date: 2018/01/01 test end date: 2018/12/31

In [64]:
for date_tuple in dates:

    # first, subsetting stocks dataframe to just include training and testing period, i.e. 7 year period
    stocks_total = stocks[(stocks["Date"] >= date_tuple[0]) & (stocks["Date"] <= date_tuple[3])]
    stocks_total.dropna(axis=1, inplace=True)

    # training data
    stocks_train_subset = stocks_total[(stocks_total["Date"] >= date_tuple[0]) & (stocks_total["Date"] <= date_tuple[1])]
    stocks_train_subset.dropna(axis=1,inplace=True)

    #testing data
    stocks_test_subset = stocks_total[(stocks_total["Date"] >= date_tuple[2]) & (stocks_total["Date"] <= date_tuple[3])]
    stocks_test_subset.dropna(axis=1, inplace=True)
    
    # calculating return
    stocks_return = stocks_train_subset.iloc[-1,1:]/stocks_train_subset.iloc[0,1:]-1
    log_return = np.log(1 + stocks_return.pct_change())
    
    sort_stocks = pd.Series.sort_values(log_return, ascending = False)
    
    top_return = sort_stocks.head(10)
    
    # obtaining the stock names
    stock_list = []
    for i in range(len(top_return)):
        stock_list.append(top_return.index[i])
        
    # create a new dataframe with the first column being the dates
    new_portfolio = pd.DataFrame(stocks_test_subset['Date'],columns=['Date'])
    # go through all the columns in our test data frame
    for col in stocks_test_subset.columns:
        # check if this column is in the names for our top stocks
        if col in stock_list: 
            # if so, add the stock prices to the new dataframe
            new_portfolio = pd.concat([new_portfolio,stocks_test_subset[col]],axis=1) 
    
    # defining initial holdings list
    initial_holdings = []
    print(new_portfolio)

           Date  3153670Q US Equity  BIIB US Equity  CLX US Equity  \
2307 2000-01-01             95.4167          30.166         30.451
2308 2000-01-02             95.4167          30.166         30.451
2309 2000-01-03             94.6667          28.631         29.733
2310 2000-01-04             86.8750          26.693         28.939
2311 2000-01-05             84.7917          28.554         29.695
...         ...                 ...             ...            ...
2668 2000-12-27             93.0000          61.388         19.918
2669 2000-12-28             95.4375          60.409         20.612
2670 2000-12-29             87.5000          58.202         21.883
2671 2000-12-30             87.5000          58.202         21.883
2672 2000-12-31             87.5000          58.202         21.883

      DELL US Equity  FMC US Equity  GTW US Equity  JNJ US Equity  \
2307         48.8721         6.8273        72.0625         29.005
2308         48.8721         6.8273        72.0625         29.005
2309         48.7524         6.5518        69.5625         28.674
2310         44.6797         6.4699        63.0000         27.624
2311         47.8540         6.5890        55.0000         27.916
...              ...            ...            ...            ...
2668         17.2490         8.2419        18.4900         32.487
2669         17.1891         8.5248        18.8900         33.039
2670         16.7100         8.5397        17.9900         33.137
2671         16.7100         8.5397        17.9900         33.137
2672         16.7100         8.5397        17.9900         33.137

      NTRS US Equity  PMCS US Equity  VIAV US Equity
2307         37.5351         80.1563        366.8486
2308         37.5351         80.1563        366.8486
2309         35.7425         79.3750        427.5400
2310         33.4186         74.4688        389.1637
2311         34.1711         70.2813        359.8840
...              ...             ...             ...
2668         57.7214         84.4375        215.4756
2669         58.4798         81.1250        200.6936
2670         58.2121         78.6250        189.6072
2671         58.2121         78.6250        189.6072
2672         58.2121         78.6250        189.6072

[366 rows x 11 columns]
           Date  0948669D US Equity  1317355D US Equity  3153670Q US Equity  \
2673 2001-01-01              7.1135             14.0405             87.5000
2674 2001-01-02              7.3962             13.3910             66.0000
2675 2001-01-03              7.5846             14.0405             86.3750
2676 2001-01-04              8.5268             13.6408             91.8125
2677 2001-01-05              8.2442             14.1738             80.4375
...         ...                 ...                 ...                 ...
3033 2001-12-27             10.8516             21.3243             46.4500
3034 2001-12-28             10.8594             21.2122             46.4500
3035 2001-12-29             10.8594             21.2122             46.4500
3036 2001-12-30             10.8594             21.2122             46.4500
3037 2001-12-31             10.7117             20.9320             44.8300

      CDNS US Equity  HD US Equity  JBL US Equity  PMCS US Equity  \
2673         27.5000        31.897        20.4666         78.6250
2674         24.8750        31.810        18.8534         67.4375
2675         24.8125        35.912        20.5674         80.8750
2676         26.7500        36.086        18.7022         73.1250
2677         25.2500        34.733        19.1055         70.4375
...              ...           ...            ...             ...
3033         22.1600        36.045        18.0348         21.8500
3034         22.4000        36.087        18.7123         22.7800
3035         22.4000        36.087        18.7123         22.7800
3036         22.4000        36.087        18.7123         22.7800
3037         21.9200        35.744        18.3251         21.2600

      SANM US Equity  TLAB US Equity  VIAV US Equity
2673        229.8750         38.2578        189.6072
2674        206.0625         38.5964        178.5207
2675        246.5625         41.6858        243.9025
2676        241.5000         41.1356        217.7497
2677        219.7500         40.0776        191.5970
...              ...             ...             ...
3033        122.2200         10.5835         38.6605
3034        124.3800         10.6919         38.4786
3035        124.3800         10.6919         38.4786
3036        124.3800         10.6919         38.4786
3037        119.4000         10.1299         39.4792

[365 rows x 11 columns]
           Date  ADI US Equity  BCR US Equity  BRL US Equity  CMVT US Equity  \
3038 2002-01-01        31.0771        28.3843        35.2711         12.1787
3039 2002-01-02        31.7492        27.5085        35.1111         12.6033
3040 2002-01-03        33.3664        26.2763        34.6667         13.6105
3041 2002-01-04        33.5695        26.2279        34.5067         14.0188
3042 2002-01-05        33.5695        26.2279        34.5067         14.0188
...         ...            ...            ...            ...             ...
3398 2002-12-27        17.2923        25.3007        29.2711          5.5150
3399 2002-12-28        17.2923        25.3007        29.2711          5.5150
3400 2002-12-29        17.2923        25.3007        29.2711          5.5150
3401 2002-12-30        16.6622        25.7077        29.0800          5.3897
3402 2002-12-31        16.7112        25.9402        28.9289          5.4551

      DELL US Equity  DISH US Equity  GMCR US Equity  HD US Equity  \
3038         26.0460         19.5740          1.9759        35.744
3039         26.3526         20.4861          1.9730        35.310
3040         27.8188         20.3008          1.9809        35.071
3041         28.3554         20.3721          2.0127        35.702
3042         28.3554         20.3721          2.0127        35.702
...              ...             ...             ...           ...
3398         25.8927         15.6549          1.1030        16.758
3399         25.8927         15.6549          1.1030        16.758
3400         25.8927         15.6549          1.1030        16.758
3401         25.7777         15.4697          1.1124        16.694
3402         25.6243         15.8616          1.0900        16.934

      PMCS US Equity  SSP US Equity
3038           21.26         6.1539
3039           22.86         6.3217
3040           25.00         6.3040
3041           25.98         6.3469
3042           25.98         6.3469
...              ...            ...
3398            5.81         7.1076
3399            5.81         7.1076
3400            5.81         7.1076
3401            5.65         7.1264
3402            5.56         7.2326

[365 rows x 11 columns]
           Date  0203524D US Equity  CBS US Equity  DELL US Equity  \
3403 2003-01-01              6.8502        22.3466         25.6243
3404 2003-01-02              6.9825        23.6350         26.5539
3405 2003-01-03              7.1331        23.5747         26.6305
3406 2003-01-04              7.1331        23.5747         26.6305
3407 2003-01-05              7.1331        23.5747         26.6305
...         ...                 ...            ...             ...
3763 2003-12-27             18.0177        23.9736         32.3514
3764 2003-12-28             18.0177        23.9736         32.3514
3765 2003-12-29             18.2550        23.9021         32.8306
3766 2003-12-30             18.1637        24.0561         33.0701
3767 2003-12-31             17.9857        24.4025         32.5623

      HET US Equity  LB US Equity  MDP US Equity  MS US Equity  MTW US Equity  \
3403        35.8685        5.6417        25.7636       25.3054         4.9545
3404        36.6475        5.6700        26.0645       26.5859         5.1585
3405        36.3667        5.4270        25.8827       26.5352         5.0633
3406        36.3667        5.4270        25.8827       26.5352         5.0633
3407        36.3667        5.4270        25.8827       26.5352         5.0633
...             ...           ...            ...           ...            ...
3763        45.0468        7.4768        30.5604       37.1500         6.0410
3764        45.0468        7.4768        30.5604       37.1500         6.0410
3765        45.4876        7.4893        30.7310       37.8936         6.2020
3766        45.5427        7.4810        30.7690       37.4862         6.2334
3767        45.7080        7.5018        30.8511       37.4215         6.1254

      QCOM US Equity  SLM US Equity
3403         13.4947        10.5203
3404         13.7729        10.6368
3405         13.2389        10.6895
3406         13.2389        10.6895
3407         13.2389        10.6895
...              ...            ...
3763         19.7906        11.6872
3764         19.7906        11.6872
3765         20.4586        11.9279
3766         20.2944        11.6409
3767         20.1265        11.6286

[365 rows x 11 columns]
           Date  AA US Equity  CL US Equity  CMS US Equity  HCP US Equity  \
3768 2004-01-01       68.9295       17.8016         5.7191         9.8180
3769 2004-01-02       68.1133       17.6487         5.7661         9.7793
3770 2004-01-03       68.1133       17.6487         5.7661         9.7793
3771 2004-01-04       68.1133       17.6487         5.7661         9.7793
3772 2004-01-05       70.3444       17.8016         5.7661         9.8373
...         ...           ...           ...            ...            ...
4129 2004-12-27       58.1256       18.2197         6.8871        11.4917
4130 2004-12-28       58.5507       18.2379         6.9609        11.4793
4131 2004-12-29       58.9388       18.2342         6.9475        11.4711
4132 2004-12-30       58.1256       18.5749         6.9475        11.4669
4133 2004-12-31       58.0702       18.5386         7.0146        11.4133

      HRB US Equity  KRB US Equity  LB US Equity  PCL US Equity  \
3768        17.4451        23.8553        7.5018        18.1965
3769        17.5554        23.6345        7.3853        18.1367
3770        17.5554        23.6345        7.3853        18.1367
3771        17.5554        23.6345        7.3853        18.1367
3772        17.6279        24.2873        7.4269        18.0471
...             ...            ...           ...            ...
4129        15.4136        27.1095       10.2164        24.4397
4130        15.5258        27.3637       10.0593        24.4897
4131        15.5899        27.5201       10.3107        24.2709
4132        15.7853        27.5006       10.3287        24.2959
4133        15.7020        27.5592       10.3331        24.0210

      QCOM US Equity  TSCO US Equity
3768         20.1265          8.9121
3769         20.0108          8.9980
3770         20.0108          8.9980
3771         20.0108          8.9980
3772         20.4325          9.0940
...              ...             ...
4129         32.6216          8.1227
4130         32.6742          8.2964
4131         32.1710          8.3581
4132         32.0584          8.4244
4133         31.8406          8.5044

[366 rows x 11 columns]

           Date  CCI US Equity  CHK US Equity  CMX US Equity  DE US Equity  \
4134 2005-01-01        13.9886        13.7526        34.5853       27.6011
4135 2005-01-02        13.9886        13.7526        34.5853       27.6011
4136 2005-01-03        13.7952        12.8941        33.9011       27.0595
4137 2005-01-04        13.5767        12.7857        34.6029       26.4140
4138 2005-01-05        13.9129        12.6857        35.7431       26.1580
...         ...            ...            ...            ...           ...
4494 2005-12-27        22.5297        25.7180        45.3828       25.9639
4495 2005-12-28        22.5381        26.3225        45.6109       26.0964
4496 2005-12-29        22.5213        26.3729        45.5495       25.9904
4497 2005-12-30        22.6222        26.6416        45.4267       25.7784
4498 2005-12-31        22.6222        26.6416        45.4267       25.7784

      DVA US Equity  EXC US Equity  MTB US Equity  NKE US Equity  \
4134         19.765        25.6424         73.483         9.3722
4135         19.765        25.6424         73.483         9.3722
4136         19.680        25.1537         72.147         9.3722
4137         19.755        24.9849         71.834         9.2389
4138         19.650        24.6125         71.725         9.1283
...             ...            ...            ...            ...
4494         25.220        32.4324         75.839         9.1150
4495         25.280        32.4925         75.985         9.1684
4496         25.450        32.0657         76.047         9.1475
4497         25.320        31.9455         75.562         9.0836
4498         25.320        31.9455         75.562         9.0836

      STJ US Equity  TT US Equity
4134        37.5142       27.5764
4135        37.5142       27.5764
4136        36.7179       27.5430
4137        36.5032       27.2627
4138        35.9127       26.8890
...             ...           ...
4494        45.3069       27.1544
4495        45.4501       27.0732
4496        45.3785       27.2086
4497        44.9132       27.0394
4498        44.9132       27.0394

[365 rows x 11 columns]
           Date  0961514D US Equity  ALL US Equity  ESRX US Equity  \
4499 2006-01-01             30.3614        39.2911         20.9500
4500 2006-01-02             30.3614        39.2911         20.9500
4501 2006-01-03             30.6794        39.7707         21.7075
4502 2006-01-04             30.4789        39.7271         21.9400
4503 2006-01-05             30.3406        39.8361         22.3950
...         ...                 ...            ...             ...
4859 2006-12-27             36.0609        49.0821         18.1000
4860 2006-12-28             35.8784        49.0821         18.0800
4861 2006-12-29             35.8346        48.4790         17.9000
4862 2006-12-30             35.8346        48.4790         17.9000
4863 2006-12-31             35.8346        48.4790         17.9000

      HSIC US Equity  KMX US Equity  KSE US Equity  MGM US Equity  \
4499          21.820         13.840        32.7088        35.7312
4500          21.820         13.840        32.7088        35.7312
4501          21.840         14.285        33.5061        35.9846
4502          21.875         14.685        33.4420        35.0589
4503          22.000         14.450        33.1212        34.8348
...              ...            ...            ...            ...
4859          24.710         27.220        39.5053        55.7357
4860          24.780         27.045        39.5246        55.9305
4861          24.490         26.815        39.5630        55.8818
4862          24.490         26.815        39.5630        55.8818
4863          24.490         26.815        39.5630        55.8818

      MNST US Equity  PCAR US Equity  URBN US Equity
4499           3.284         21.1247           25.31
4500           3.284         21.1247           25.31
4501           3.455         21.4664           24.96
4502           3.432         21.8326           24.48
4503           3.393         21.9150           25.27
...              ...             ...             ...
4859           5.747         31.7935           23.34
4860           5.675         31.4157           23.40
4861           5.613         31.0379           23.03
4862           5.613         31.0379           23.03
4863           5.613         31.0379           23.03

[365 rows x 11 columns]
           Date  1288453D US Equity  AZO US Equity  CLF US Equity  \
4864 2007-01-01              16.840         115.56        20.8354
4865 2007-01-02              16.840         115.56        20.8354
4866 2007-01-03              16.960         118.61        20.5774
4867 2007-01-04              17.060         119.60        20.4311
4868 2007-01-05              17.140         118.83        19.9623
...         ...                 ...            ...            ...
5224 2007-12-27              22.595         120.28        43.5958
5225 2007-12-28              22.240         118.85        45.3988
5226 2007-12-29              22.240         118.85        45.3988
5227 2007-12-30              22.240         118.85        45.3988
5228 2007-12-31              22.145         119.91        43.6868

      CMI US Equity  DVA US Equity  GTW US Equity  KMX US Equity  \
4864         23.152         28.440           2.01         26.815
4865         23.152         28.440           2.01         26.815
4866         23.099         27.715           1.96         27.645
4867         23.124         27.745           1.95         27.700
4868         22.736         27.425           2.01         28.095
...             ...            ...            ...            ...
5224         50.540         28.130           1.90         19.530
5225         50.912         28.005           1.90         19.590
5226         50.912         28.005           1.90         19.590
5227         50.912         28.005           1.90         19.590
5228         50.354         28.175           1.90         19.750

      MNST US Equity  NC US Equity  TSCO US Equity
4864           5.613        7.0824         10.2185
4865           5.613        7.0824         10.2185
4866           5.653        7.1421         10.4562
4867           5.687        7.2110         10.5568
4868           5.713        6.9072         10.9682
...              ...           ...             ...
5224           7.532        5.2933          8.2850
5225           7.413        5.2311          8.0816
5226           7.413        5.2311          8.0816
5227           7.413        5.2311          8.0816
5228           7.382        5.2511          8.2141

[365 rows x 11 columns]
           Date  1086832D US Equity  1288453D US Equity  CLF US Equity  \
5229 2008-01-01             53.7618              22.145        43.6868
5230 2008-01-02             53.7915              21.590        41.8535
5231 2008-01-03             51.3721              21.450        43.6045
5232 2008-01-04             50.4963              20.750        41.5458
5233 2008-01-05             50.4963              20.750        41.5458
...         ...                 ...                 ...            ...
5590 2008-12-27             32.4635              16.950        21.8243
5591 2008-12-28             32.4635              16.950        21.8243
5592 2008-12-29             32.4329              16.590        20.9597
5593 2008-12-30             32.8604              17.175        21.9553
5594 2008-12-31             33.1734              16.765        22.3657

      CSCO US Equity  HCBK US Equity  HSIC US Equity  MNST US Equity  \
5229         21.7054         11.6092          30.700           7.382
5230         21.2806         11.4546          29.635           7.197
5231         21.4490         11.4469          29.780           7.150
5232         20.9438         11.2614          29.460           6.917
5233         20.9438         11.2614          29.460           6.917
...              ...             ...             ...             ...
5590         13.0458         11.8189          17.690           5.650
5591         13.0458         11.8189          17.690           5.650
5592         12.8373         11.6445          17.540           5.530
5593         13.0137         12.0884          18.105           5.725
5594         13.0698         12.6512          18.345           5.588

      RHT US Equity  SPG US Equity  UNP US Equity
5229          20.84         54.668        25.1999
5230          20.60         54.052        24.9231
5231          20.71         52.824        24.8469
5232          20.34         50.074        24.0805
5233          20.34         50.074        24.0805
...             ...            ...            ...
5590          13.13         34.181        19.1333
5591          13.13         34.181        19.1333
5592          12.99         32.208        18.7707
5593          13.19         33.714        19.0681
5594          13.22         34.951        19.4714

[366 rows x 11 columns]

           Date  1288453D US Equity  AKAM US Equity  ALXN US Equity  \
5595 2009-01-01              16.765           15.09          18.095
5596 2009-01-02              17.405           15.74          18.065
5597 2009-01-03              17.405           15.74          18.065
5598 2009-01-04              17.405           15.74          18.065
5599 2009-01-05              17.275           16.18          18.500
...         ...                 ...             ...             ...
5955 2009-12-27              19.265           25.74          24.235
5956 2009-12-28              19.530           25.89          24.220
5957 2009-12-29              19.565           25.71          24.140
5958 2009-12-30              19.460           25.72          24.325
5959 2009-12-31              19.200           25.34          24.410

      CELG US Equity  CTSH US Equity  GD US Equity  MNST US Equity  \
5595          27.640          8.8772        45.506           5.588
5596          28.245          9.3983        47.221           5.802
5597          28.245          9.3983        47.221           5.802
5598          28.245          9.3983        47.221           5.802
5599          27.180          9.3540        47.205           5.758
...              ...             ...           ...             ...
5955          28.190         22.7239        55.490           6.422
5956          28.370         22.7190        55.677           6.510
5957          28.060         22.3995        55.661           6.522
5958          28.210         22.3553        55.783           6.487
5959          27.840         22.2815        55.352           6.400

      RF US Equity  WM US Equity  XTO US Equity
5595        6.7398       23.9611        34.6318
5596        7.2901       24.4239        36.9000
5597        7.2901       24.4239        36.9000
5598        7.2901       24.4239        36.9000
5599        7.3833       24.2720        38.9816
...            ...           ...            ...
5955        4.7466       25.4295        46.7119
5956        4.6767       25.5651        47.0194
5957        4.6854       25.6857        46.8453
5958        4.6504       25.6028        46.7360
5959        4.6242       25.4672        46.2686

[365 rows x 11 columns]
           Date  CELG US Equity  EOG US Equity  FWLT US Equity  GGP US Equity  \
5960 2010-01-01          27.840        45.8439         29.0971         2.4252
5961 2010-01-02          27.840        45.8439         29.0971         2.4252
5962 2010-01-03          27.840        45.8439         29.0971         2.4252
5963 2010-01-04          27.870        47.2950         30.4215         2.4126
5964 2010-01-05          27.545        46.7155         32.2203         2.5490
...         ...             ...            ...             ...            ...
6320 2010-12-27          29.750        42.7159         33.7720         4.0923
6321 2010-12-28          29.720        42.6495         33.9894         4.1374
6322 2010-12-29          29.865        43.2230         34.1179         4.2025
6323 2010-12-30          29.715        43.4885         33.9400         4.2595
6324 2010-12-31          29.570        43.3273         34.1179         4.1998

      ISRG US Equity  LUV US Equity  MNST US Equity  MRO US Equity  \
5960         101.143        10.8177           6.400        15.6354
5961         101.143        10.8177           6.400        15.6354
5962         101.143        10.8177           6.400        15.6354
5963         102.923        10.5811           6.547        16.0811
5964         102.460        11.1395           6.572        16.0961
...              ...            ...             ...            ...
6320          87.447        12.3124           8.877        18.8694
6321          86.867        12.3977           8.755        18.8591
6322          86.463        12.3787           8.772        19.0813
6323          85.653        12.2934           8.793        19.0400
6324          85.917        12.3029           8.713        19.1382

      NEU US Equity  PVH US Equity
5960         91.844        40.1015
5961         91.844        40.1015
5962         91.844        40.1015
5963         96.174        40.5155
5964         99.231        42.0336
...             ...            ...
6320        102.766        64.1721
6321        102.125        62.8772
6322        101.581        62.7981
6323        100.931        63.1046
6324        100.168        62.2841

[365 rows x 11 columns]
           Date  CSX US Equity  HDLM US Equity  HTMXQ US Equity  \
6325 2011-01-01        18.2800           0.085           0.0010
6326 2011-01-02        18.2800           0.085           0.0010
6327 2011-01-03        18.5714           0.085           0.0010
6328 2011-01-04        18.5063           0.086           0.0010
6329 2011-01-05        18.6421           0.083           0.0010
...         ...            ...             ...              ...
6685 2011-12-27        18.4006           0.060           0.0015
6686 2011-12-28        18.0628           0.060           0.0015
6687 2011-12-29        18.2014           0.060           0.0008
6688 2011-12-30        18.2360           0.060           0.0007
6689 2011-12-31        18.2360           0.060           0.0007

      ILMN US Equity  INTU US Equity  MNST US Equity  REGN US Equity  \
6325           63.34          45.599           8.713          32.830
6326           63.34          45.599           8.713          32.830
6327           64.34          46.090           8.925          33.820
6328           64.23          45.590           8.715          33.255
6329           66.00          45.081           8.660          33.290
...              ...             ...             ...             ...
6685           29.80          49.337          15.832          55.790
6686           29.43          48.632          15.277          55.350
6687           30.17          48.966          15.625          56.300
6688           30.48          48.799          15.357          55.430
6689           30.48          48.799          15.357          55.430

      STR US Equity  VRTX US Equity  WM US Equity
6325        14.2753           35.03       28.8414
6326        14.2753           35.03       28.8414
6327        14.3491           35.99       28.8023
6328        14.3081           35.49       28.6302
6329        14.3573           36.84       28.6146
...             ...             ...           ...
6685        16.9275           33.25       26.7326
6686        16.7917           32.44       26.3746
6687        16.9869           32.76       26.6757
6688        16.8511           33.21       26.6187
6689        16.8511           33.21       26.6187

[365 rows x 11 columns]
           Date  ANSS US Equity  ARG US Equity  AYI US Equity  HP US Equity  \
6690 2012-01-01           57.28        72.0550         51.358       46.1170
6691 2012-01-02           57.28        72.0550         51.358       46.1170
6692 2012-01-03           57.39        72.9225         51.368       48.8275
6693 2012-01-04           56.40        73.8546         52.443       49.4438
6694 2012-01-05           57.30        73.3101         50.990       49.8152
...         ...             ...            ...            ...           ...
7051 2012-12-27           67.62        85.9705         64.625       44.0077
7052 2012-12-28           67.00        85.2003         64.713       43.3561
7053 2012-12-29           67.00        85.2003         64.713       43.3561
7054 2012-12-30           67.00        85.2003         64.713       43.3561
7055 2012-12-31           67.34        85.7451         66.218       44.5084

      KSU US Equity  MAS US Equity  NEU US Equity  SJM US Equity  \
6690        62.6666         8.3053        163.246         66.026
6691        62.6666         8.3053        163.246         66.026
6692        63.3116         8.7015        165.677         65.291
6693        64.7306         8.9289        165.216         65.274
6694        64.4634         9.2082        164.581         65.612
...             ...            ...            ...            ...
7051        76.7525        13.2105        242.099         74.084
7052        76.4358        13.0077        240.243         73.842
7053        76.4358        13.0077        240.243         73.842
7054        76.4358        13.0077        240.243         73.842
7055        77.7584        13.5105        240.969         74.699

      TXT US Equity  UNP US Equity
6690        18.2271        45.7862
6691        18.2271        45.7862
6692        18.3749        46.6765
6693        18.7397        47.0136
6694        18.8382        46.6722
...             ...            ...
7051        24.0305        55.0163
7052        23.8525        54.5395
7053        23.8525        54.5395
7054        23.8525        54.5395
7055        24.5151        55.5019

[366 rows x 11 columns]

           Date  BAC US Equity  COO US Equity  EXPE US Equity  FTI US Equity  \
7056 2013-01-01        10.8660        92.2698          58.223        41.8521
7057 2013-01-02        11.2591        94.9437          59.938        42.5068
7058 2013-01-03        11.1936        94.7142          59.540        42.1258
7059 2013-01-04        11.3340        95.2230          61.085        42.6437
7060 2013-01-05        11.3340        95.2230          61.085        42.6437
...         ...            ...            ...             ...            ...
7416 2013-12-27        14.7098       125.3624          65.797        50.7151
7417 2013-12-28        14.7098       125.3624          65.797        50.7151
7418 2013-12-29        14.7098       125.3624          65.797        50.7151
7419 2013-12-30        14.5878       124.7734          65.874        50.3633
7420 2013-12-31        14.6159       123.6254          66.659        51.0180

      HRL US Equity  LB US Equity  MMC US Equity  MTD US Equity  \
7056        14.0166       35.4479        30.3661         193.30
7057        14.3759       35.7040        31.2911         197.88
7058        14.9103       33.6777        31.2647         196.72
7059        15.4088       33.8058        31.1766         197.02
7060        15.4088       33.8058        31.1766         197.02
...             ...           ...            ...            ...
7416        20.4780       46.8777        43.6076         244.01
7417        20.4780       46.8777        43.6076         244.01
7418        20.4780       46.8777        43.6076         244.01
7419        20.6197       47.0548        43.5353         241.80
7420        20.6379       47.6324        43.6708         242.59

      PRGO US Equity  TTWO US Equity
7056        100.9403           11.01
7057        103.5407           11.48
7058        104.8118           11.88
7059        105.2581           12.20
7060        105.2581           12.20
...              ...             ...
7416        148.0296           17.68
7417        148.0296           17.68
7418        148.0296           17.68
7419        148.9929           17.40
7420        149.3335           17.37

[365 rows x 11 columns]
           Date  ADP US Equity  AGN US Equity  ALXN US Equity  EL US Equity  \
7421 2014-01-01        63.5472        163.007         132.884       70.9506
7422 2014-01-02        62.8087        163.056         133.440       69.4340
7423 2014-01-03        63.4929        163.027         131.720       69.3775
7424 2014-01-04        63.4929        163.027         131.720       69.3775
7425 2014-01-05        63.4929        163.027         131.720       69.3775
...         ...            ...            ...             ...           ...
7781 2014-12-27        78.2203        249.449         187.485       73.8019
7782 2014-12-28        78.2203        249.449         187.485       73.8019
7783 2014-12-29        77.9174        252.486         188.710       73.7543
7784 2014-12-30        77.2196        251.856         184.940       73.5351
7785 2014-12-31        76.5403        249.760         185.030       72.6108

      EXPE US Equity  FIS US Equity  IT US Equity  MGM US Equity  \
7421          66.659        50.0645         71.05        22.9179
7422          66.228        49.4303         69.80        23.1128
7423          66.218        49.5702         69.74        22.8497
7424          66.218        49.5702         69.74        22.8497
7425          66.218        49.5702         69.74        22.8497
...              ...            ...           ...            ...
7781          86.162        60.2443         85.42        20.5696
7782          86.162        60.2443         85.42        20.5696
7783          85.091        60.2917         85.56        20.9301
7784          82.940        59.9123         85.01        20.9009
7785          82.352        59.0017         84.21        20.8327

      MWV US Equity  VZ US Equity
7421        34.6376       39.0740
7422        34.4125       38.9627
7423        33.8685       38.5015
7424        33.8685       38.5015
7425        33.8685       38.5015
...             ...           ...
7781        44.7280       39.7572
7782        44.7280       39.7572
7783        44.7676       39.4997
7784        44.4508       39.3169
7785        43.9459       38.8600

[365 rows x 11 columns]
           Date  CAR US Equity  DFS US Equity  DWDP US Equity  FFIV US Equity  \
7786 2015-01-01          66.33        60.3845         40.7032         130.465
7787 2015-01-02          66.77        60.2646         40.6853         130.330
7788 2015-01-03          66.77        60.2646         40.6853         130.330
7789 2015-01-04          66.77        60.2646         40.6853         130.330
7790 2015-01-05          64.34        58.9184         39.4270         129.760
...         ...            ...            ...             ...             ...
8146 2015-12-27          36.95        51.4770         47.9552          97.440
8147 2015-12-28          36.12        51.0822         47.8818          97.000
8148 2015-12-29          36.85        51.4864         48.8252          97.550
8149 2015-12-30          35.95        50.9883         47.7801          98.060
8150 2015-12-31          36.29        50.3961         47.6136          96.960

      GGP US Equity  LUV US Equity  NC US Equity  REGN US Equity  \
7786         8.6922        40.9950       12.6955          410.25
7787         8.8220        41.3535       12.1779          410.16
7788         8.8220        41.3535       12.1779          410.16
7789         8.8220        41.3535       12.1779          410.16
7790         8.8807        40.3363       11.8208          412.47
...             ...            ...           ...             ...
8146         8.5751        42.8138        9.4143          537.63
8147         8.6163        42.7357        9.4950          540.28
8148         8.7051        43.2429        9.5627          550.21
8149         8.6956        42.2774        9.5780          548.19
8150         8.6322        41.9945        9.2092          542.87

      VNO US Equity  WHR US Equity
7786        76.6054        175.161
7787        77.6857        174.501
7788        77.6857        174.501
7789        77.6857        174.501
7790        77.8810        170.902
...             ...            ...
8146        73.5182        137.890
8147        74.0117        137.346
8148        74.7483        138.434
8149        74.5126        136.968
8150        73.6287        135.401

[365 rows x 11 columns]
           Date  CHTR US Equity  CTSH US Equity  DFS US Equity  \
8151 2016-01-01         202.499         59.0045        50.3961
8152 2016-01-02         202.499         59.0045        50.3961
8153 2016-01-03         202.499         59.0045        50.3961
8154 2016-01-04         196.339         57.1465        49.5409
8155 2016-01-05         193.729         57.1465        49.4281
...         ...             ...             ...            ...
8512 2016-12-27         291.800         55.6620        69.9470
8513 2016-12-28         291.120         55.2000        69.0729
8514 2016-12-29         292.190         55.2295        69.0153
8515 2016-12-30         287.920         55.0820        69.2458
8516 2016-12-31         287.920         55.0820        69.2458

      EVHC US Equity  GCO US Equity  KSU US Equity  LB US Equity  \
8151           76.00          56.83        71.8536       80.3349
8152           76.00          56.83        71.8536       80.3349
8153           76.00          56.83        71.8536       80.3349
8154           76.57          57.81        70.9394       78.8091
8155           77.15          59.01        71.1896       80.8967
...              ...            ...            ...           ...
8512           65.78          62.70        83.8219       59.0108
8513           64.61          62.30        82.5523       58.7000
8514           64.31          61.90        82.4839       58.8598
8515           63.29          62.10        82.8648       58.4603
8516           63.29          62.10        82.8648       58.4603

      NBR US Equity  PAYX US Equity  TROW US Equity
8151         7.8583         47.9655         66.2631
8152         7.8583         47.9655         66.2631
8153         7.8583         47.9655         66.2631
8154         7.9783         46.7502         65.0581
8155         7.8213         46.7140         65.3269
...             ...             ...             ...
8512        15.5985         57.7893         73.4435
8513        15.2965         57.4988         72.6508
8514        15.3437         57.5550         72.1447
8515        15.4758         57.0676         71.8773
8516        15.4758         57.0676         71.8773

[366 rows x 11 columns]
           Date  AET US Equity  CHTR US Equity  CINF US Equity  \
8517 2017-01-01        121.173          287.92         71.6891
8518 2017-01-02        121.173          287.92         71.6891
8519 2017-01-03        120.030          285.77         71.7270
8520 2017-01-04        121.144          291.55         71.9920
8521 2017-01-05        121.662          296.17         71.6986
...         ...            ...             ...             ...
8877 2017-12-27        178.912          333.25         72.9552
8878 2017-12-28        179.288          338.03         73.4739
8879 2017-12-29        178.457          335.96         73.3662
8880 2017-12-30        178.457          335.96         73.3662
8881 2017-12-31        178.457          335.96         73.3662

      EXPE US Equity  FLT US Equity  FMCC US Equity  HD US Equity  \
8517         111.125         141.52            3.74       128.931
8518         111.125         141.52            3.74       128.931
8519         110.301         144.65            3.87       129.152
8520         111.576         147.05            3.97       130.296
8521         112.508         147.47            3.84       128.758
...              ...            ...             ...           ...
8877         119.075         191.43            2.55       187.100
8878         119.995         193.38            2.53       186.696
8879         118.530         192.43            2.52       186.450
8880         118.530         192.43            2.52       186.450
8881         118.530         192.43            2.52       186.450

      MTW US Equity  RAD US Equity  TGNA US Equity
8517          23.92           8.24         13.1783
8518          23.92           8.24         13.1783
8519          23.68           8.18         13.2707
8520          23.88           8.27         13.4555
8521          23.60           8.19         13.2954
...             ...            ...             ...
8877          40.16           2.01         13.8569
8878          39.43           2.00         13.8569
8879          39.34           1.97         13.8275
8880          39.34           1.97         13.8275
8881          39.34           1.97         13.8275

[365 rows x 11 columns]

           Date  AET US Equity  AVGO US Equity  BIG US Equity  ES US Equity  \
8882 2018-01-01        178.457        251.4695        54.9914       61.5686
8883 2018-01-02        178.754        261.3658        54.7466       61.5393
8884 2018-01-03        179.852        264.2241        53.8064       60.9936
8885 2018-01-04        181.405        264.3122        55.4811       60.1361
8886 2018-01-05        183.819        265.8783        56.7445       60.2432
...         ...            ...             ...            ...           ...
9242 2018-12-27        212.700        246.2679        27.8807       63.8167
9243 2018-12-28        212.700        248.9579        27.5178       63.7083
9244 2018-12-29        212.700        248.9579        27.5178       63.7083
9245 2018-12-30        212.700        248.9579        27.5178       63.7083
9246 2018-12-31        212.700        249.6353        28.3713       64.0728

      FLT US Equity  GNW US Equity  NVDA US Equity  PAYX US Equity  \
8882         192.43           3.11        193.1547         65.8607
8883         193.87           3.23        198.9942         65.1158
8884         194.96           3.05        212.0908         66.0542
8885         195.46           3.15        213.2088         66.6733
8886         197.00           3.21        215.0156         66.4702
...             ...            ...             ...             ...
9242         185.10           4.62        130.8856         64.2068
9243         183.49           4.60        133.3602         63.6849
9244         183.49           4.60        133.3602         63.6849
9245         183.49           4.60        133.3602         63.6849
9246         185.72           4.66        133.2105         64.1576

      SCHW US Equity  URI US Equity
8882         50.9156         171.91
8883         50.9850         173.58
8884         51.0643         175.19
8885         51.3517         172.00
8886         51.5499         171.38
...              ...            ...
9242         40.7491         104.79
9243         40.7491         101.50
9244         40.7491         101.50
9245         40.7491         101.50
9246         41.2156         102.53

[365 rows x 11 columns]

In [65]:
rF = 0.01 # Assume risk free rate is 0.1%
number_of_portfolios = 3000

# Initialize new variables to populate with the results of the simulation.
portfolio_returns = []
portfolio_risk = []
sharpe_ratio_portfolio = []
portfolio_weights = []

# Create a loop with number of iterations equal to the number of portfolios.
for i in range(number_of_portfolios):
    random_weights = np.random.random_sample(number_of_portfolios)
    rebalanced_weights = random_weights/np.sum(random_weights) # make weights sum to 1
    print(rebalanced_weights)
    
    #annualized return based on the asset allocation
    annualized_return = np.sum(pd.Series(stocks_total.mean() * rebalanced_weights * 252))
    portfolio_returns.append(annualized_return) #save returns for each specific portfolio into our list

    #calculate variance/risk
    matrix_covariance = returns.cov()
    matrix_covariance['Bonds'] = matrix_covariance['Bonds'] * 250
    matrix_covariance['BTC'] = matrix_covariance['BTC'] * 365
    matrix_covariance['Stocks'] = matrix_covariance['Stocks'] * 250
    portfolio_variance = np.dot(weights.T, np.dot(matrix_covariance, rebalanced_weights))
    portfolio_std = np.sqrt(portfolio_variance)
    portfolio_risk.append(portfolio_std)

    #calculate Sharpe Ratio
    sharpe_ratio = ((annualized_return - rF) /portfolio_std)
    sharpe_ratio_portfolio.append(sharpe_ratio)

    #store weights, because we're interested in the weights of the portfolio with the
    #highest Sharpe ratio
    portfolio_weights.append(weights)

    portfolio_returns = np.array(portfolio_returns)
    portfolio_risk = np.array(portfolio_risk)
    sharpe_ratio_portfolio = np.array(sharpe_ratio_portfolio)

    # Plot all of the portfolio risk vs return to demonstrate the Efficient Frontier.
    # Note also that the color bar varies with Sharpe Ratio, to show the "best" portfolios.
    plt.figure(figsize = (12,6))
    plt.scatter(portfolio_risk, portfolio_returns, c = portfolio_returns / portfolio_risk, cmap = 'inferno')
    plt.xlabel('Volatility')
    plt.ylabel('Returns')
    plt.colorbar(label = 'Sharpe Ratio')

    # Save the portfolio metrics into a dataframe for further exploration.
    portfolio_metrics = [portfolio_returns, portfolio_risk, sharpe_ratio_portfolio, portfolio_weights]
    portfolio_dfs = pd.DataFrame(portfolio_metrics, )
    portfolio_dfs = portfolio_dfs.T
    portfolio_dfs.columns = ['Returns', 'Risk', 'Sharpe Ratio', 'Weights']

    # Find the portfolio with the highest Sharpe Ratio
    highest_sharpe_ratio = portfolio_dfs.iloc[portfolio_dfs['Sharpe Ratio'].idxmax()]

    # Find the portfolio with the highest returns
    max_returns = portfolio_dfs.iloc[portfolio_dfs['Returns'].idxmax()]

    # Find the portfolio with the lowest risk
    min_risk = portfolio_dfs.iloc[portfolio_dfs['Risk'].idxmin()]

[0.00062155 0.00028691 0.00019322 ... 0.00029957 0.00051578 0.00029013]
           Date  A US Equity  AA US Equity  AAP US Equity  AAPL US Equity  \
6690 2012-01-01      23.3620       18.3204         68.643         51.0979
6691 2012-01-02      23.3620       18.3204         68.643         51.0979
6692 2012-01-03      24.3986       19.5488         68.120         51.8839
6693 2012-01-04      24.2047       20.0148         69.717         52.1628
6694 2012-01-05      24.7464       19.8241         70.161         52.7419
...         ...          ...           ...            ...             ...
9242 2018-12-27      66.0353       27.1600        154.573        154.8867
9243 2018-12-28      65.6808       26.6000        155.343        154.9660
9244 2018-12-29      65.6808       26.6000        155.343        154.9660
9245 2018-12-30      65.6808       26.6000        155.343        154.9660
9246 2018-12-31      67.1745       26.5800        157.341        156.4638

      ABC US Equity  ABMD US Equity  ABT US Equity  ACN US Equity  \
6690        33.3902           18.47        22.9848        45.7795
6691        33.3902           18.47        22.9848        45.7795
6692        34.1803           18.25        23.1851        45.5387
6693        34.2970           18.11        23.0952        45.5215
6694        34.5574           18.27        23.0420        44.6529
...             ...             ...            ...            ...
9242        72.8125          315.67        69.7562       139.2566
9243        73.2383          318.17        70.2105       138.6714
9244        73.2383          318.17        70.2105       138.6714
9245        73.2383          318.17        70.2105       138.6714
9246        73.6740          325.04        71.4352       139.8516

      ADBE US Equity  ...  XL US Equity  XLNX US Equity  XOM US Equity  \
6690           28.27  ...       17.3620         27.0370        67.5915
6691           28.27  ...       17.3620         27.0370        67.5915
6692           28.57  ...       17.7220         27.3574        68.5804
6693           28.28  ...       17.3181         27.0665        68.5963
6694           28.48  ...       17.3883         27.3068        68.3890
...              ...  ...           ...             ...            ...
9242          225.14  ...       57.5900         83.7499        67.4103
9243          223.13  ...       57.5900         83.7897        66.6574
9244          223.13  ...       57.5900         83.7897        66.6574
9245          223.13  ...       57.5900         83.7897        66.6574
9246          226.24  ...       57.5900         84.6142        66.6770

      XRAY US Equity  XRX US Equity  XYL US Equity  YRCW US Equity  \
6690         33.6495        17.4330        23.2089            9.97
6691         33.6495        17.4330        23.2089            9.97
6692         34.0246        17.9586        22.7120            8.98
6693         34.0149        17.8491        23.4619            9.30
6694         34.0438        17.7396        23.1276            9.29
...              ...            ...            ...             ...
9242         36.9977        19.1405        64.9243            3.03
9243         36.9778        19.3573        64.8746            3.22
9244         36.9778        19.3573        64.8746            3.22
9245         36.9778        19.3573        64.8746            3.22
9246         37.0874        19.4656        66.2854            3.15

      YUM US Equity  ZBH US Equity  ZION US Equity
6690        37.0841        50.2771         15.3373
6691        37.0841        50.2771         15.3373
6692        36.8076        50.7665         15.7942
6693        37.0590        50.0794         16.1475
6694        37.3418        50.6723         16.5997
...             ...            ...             ...
9242        90.1760       101.3050         39.9569
9243        90.8204       102.2412         39.9273
9244        90.8204       102.2412         39.9273
9245        90.8204       102.2412         39.9273
9246        91.1278       103.3070         40.2334

[2557 rows x 593 columns]

ValueError: operands could not be broadcast together with shapes (592,) (3000,)